*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

}
/*====VIDEO DE FUNDO====*/
.bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
/*camada escura em cima do video
para o texto ficar legivel*/
.bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    z-index: -1;
}
/*====CABEÇALHO====*/
header{
    text-align: center;
    color: aliceblue;
    margin-bottom: 40px;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 0 2px 8px black;
}
header p{
    font-size: 1.1rem;
    opacity: 0.9;
}
/*====CARDS====*/
.container-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    position: relative;
    width: 280px;
    height: 380px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgb(0, 0, 0);
    cursor: pointer;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
/*essa transição faz a imagem crescer suavemente*/
transition: transform 0.5s ease;
}
/*ao passar o mouse, a imagem da um leve zoom*/
.card:hover img{
    transform: scale(1.15);
}
/*o conteudo do card fica escondido embaixo, fora da vista*/
.card-conteudo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
    /*começa deslocando para baixo e invisivel*/
    transform: translateY(60%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
/*ao passar o mouse no card, o conteudo aparec*/
.card:hover .card-conteudo{
    transform: translateY(0);
    opacity: 1;
}

.card-conteudo h3{
    font-size: 1.3rem;
    margin-bottom: 8px;
}
.card-conteudo p{
    font-size: 0.9rem;
    margin-bottom: 14px;
    opacity: 0.9;
}
.btn{
    display: inline-block;
    padding: 8px 19px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 0.85rem;
    font-weight: bold;
    transition: background 0.3s ease;
}
.btn:hover{
     background: #db3030;

}
/*responsivo*/
@media (max-width: 600px) {
.card{
    width:90%;
    height: 320px;
}
}